body {
  background-color: #DFF6FF;
}

hr {
  background-color: white;
  border-style: none;
  height: 2px;
}

img {
  height: 200px;
}

h1,h3{
  color: #66BFBF;
}
.circular{
  border-radius: 100%;
}
